# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [17]:
import pandas as pd
import numpy as np

# Criando uma lista com os dados constantes na segunda coluna
dados=[-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]
pd.Series(data=dados)

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [19]:

# Criando o índice
indice=['1900','1920','1940','1960','1980','2000','2020']
dados=[-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]
pd.Series(data=dados, index=indice)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [31]:
dict_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

#Criando uma série a partir de um dicionário

temperaturasSeries = pd.Series(dict_temperaturas)
temperaturasSeries

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [33]:
arr = np.random.normal(100, 10, (20,3))

# Transformando o ndarray em um DataFrame
df = pd.DataFrame(arr, columns=['Coluna_1', 'Coluna_2', 'Coluna_3'])

# Exibindo o DataFrame
print(df)

      Coluna_1    Coluna_2    Coluna_3
0    94.278514   87.937753  102.083781
1    95.962749   98.083431  114.373447
2   109.371043   77.608317  105.225661
3    95.416450  103.917720  104.772852
4    86.156821   95.612467   89.489973
5    92.946577   89.956831  114.390298
6   110.536967  125.475053   92.956990
7   100.554583  102.788525  101.292146
8    97.251957   86.274269  109.252763
9   108.400763  113.229163   94.140511
10   97.693667  103.093024  110.108850
11   99.533408   85.560922  112.439855
12  103.318902  100.224638  109.137576
13  106.738840   97.468541  105.897803
14   78.830615   90.015272  107.630602
15  106.835698   95.699441   89.717996
16  114.198798   98.105174   95.557737
17  110.823959  104.821070  107.886592
18   87.603365  100.270825   87.217473
19  117.731236  101.394568   86.359119

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [35]:
# Renomeando os índices para inteiros de 1 a 20
df.index = range(1, 21)

# Renomeando as colunas para 'x1', 'x2', 'x3'
df.columns = ['x1', 'x2', 'x3']

# Exibindo o DataFrame
print(df)

            x1          x2          x3
1    94.278514   87.937753  102.083781
2    95.962749   98.083431  114.373447
3   109.371043   77.608317  105.225661
4    95.416450  103.917720  104.772852
5    86.156821   95.612467   89.489973
6    92.946577   89.956831  114.390298
7   110.536967  125.475053   92.956990
8   100.554583  102.788525  101.292146
9    97.251957   86.274269  109.252763
10  108.400763  113.229163   94.140511
11   97.693667  103.093024  110.108850
12   99.533408   85.560922  112.439855
13  103.318902  100.224638  109.137576
14  106.738840   97.468541  105.897803
15   78.830615   90.015272  107.630602
16  106.835698   95.699441   89.717996
17  114.198798   98.105174   95.557737
18  110.823959  104.821070  107.886592
19   87.603365  100.270825   87.217473
20  117.731236  101.394568   86.359119

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [37]:
# Criando uma nova coluna 'media' com a média das três colunas
df['media'] = df[['x1', 'x2', 'x3']].mean(axis=1)

# Exibindo o DataFrame
print(df)

            x1          x2          x3       media
1    94.278514   87.937753  102.083781   94.766682
2    95.962749   98.083431  114.373447  102.806542
3   109.371043   77.608317  105.225661   97.401674
4    95.416450  103.917720  104.772852  101.369007
5    86.156821   95.612467   89.489973   90.419754
6    92.946577   89.956831  114.390298   99.097902
7   110.536967  125.475053   92.956990  109.656336
8   100.554583  102.788525  101.292146  101.545085
9    97.251957   86.274269  109.252763   97.592996
10  108.400763  113.229163   94.140511  105.256812
11   97.693667  103.093024  110.108850  103.631847
12   99.533408   85.560922  112.439855   99.178062
13  103.318902  100.224638  109.137576  104.227039
14  106.738840   97.468541  105.897803  103.368395
15   78.830615   90.015272  107.630602   92.158829
16  106.835698   95.699441   89.717996   97.417712
17  114.198798   98.105174   95.557737  102.620569
18  110.823959  104.821070  107.886592  107.843874
19   87.603365  100.270825   87.217473   91.697221
20  117.731236  101.394568   86.359119  101.828308

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [39]:
# Criando uma nova coluna 'log_med' contendo o logaritmo natural da coluna 'media'
df['log_med'] = np.log(df['media'])

# Exibindo o DataFrame
print(df)

            x1          x2          x3       media   log_med
1    94.278514   87.937753  102.083781   94.766682  4.551418
2    95.962749   98.083431  114.373447  102.806542  4.632849
3   109.371043   77.608317  105.225661   97.401674  4.578843
4    95.416450  103.917720  104.772852  101.369007  4.618767
5    86.156821   95.612467   89.489973   90.419754  4.504463
6    92.946577   89.956831  114.390298   99.097902  4.596108
7   110.536967  125.475053   92.956990  109.656336  4.697351
8   100.554583  102.788525  101.292146  101.545085  4.620503
9    97.251957   86.274269  109.252763   97.592996  4.580806
10  108.400763  113.229163   94.140511  105.256812  4.656403
11   97.693667  103.093024  110.108850  103.631847  4.640845
12   99.533408   85.560922  112.439855   99.178062  4.596917
13  103.318902  100.224638  109.137576  104.227039  4.646572
14  106.738840   97.468541  105.897803  103.368395  4.638299
15   78.830615   90.015272  107.630602   92.158829  4.523513
16  106.835698   95.699441   89.717996   97.417712  4.579008
17  114.198798   98.105174   95.557737  102.620569  4.631038
18  110.823959  104.821070  107.886592  107.843874  4.680685
19   87.603365  100.270825   87.217473   91.697221  4.518492
20  117.731236  101.394568   86.359119  101.828308  4.623288